<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../stylesheets/error.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:100,300,500,600,700,800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>feel.io</title>
  </head>
<head>
<body>
<div class="container-fluid">
          <nav>
                <input type="checkbox" id="nav" class="hidden">
                <label for="nav" class="nav-btn">
                      <i></i>
                      <i></i>
                      <i></i>
                </label>
                <div class="logo">
                      <a href="#"><img src="../assets/logo.png" width="50"></a>
                </div>
                <div class="nav-wrapper">
                      <ul>
                            <li><a href="/reviews">About</a></li>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Market Overview</a></li>
                            <li><a href="#">Github</a></li>
                      </ul>
                </div>
                <div class="row mb-4">
                </div>
          </nav>

    </div>