<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="../stylesheets/master.css">
    <link href="https://fonts.googleapis.com/css?family=Gothic+A1:100,300,500,600,700,800&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>feel.io</title>
  </head>


  <body>


    <div class="container-fluid">
          <nav>
                <input type="checkbox" id="nav" class="hidden">
                <label for="nav" class="nav-btn">
                      <i></i>
                      <i></i>
                      <i></i>
                </label>
                <div class="logo">
                      <a href="#"><img src="../assets/logo.png" width="50"></a>
                </div>
                <div class="nav-wrapper">
                      <ul>
                            <li><a href="#">About</a></li>
                            <li><a href="#">Overview</a></li>
                            <li><a href="#">Market Overview</a></li>
                            <li><a href="#">Github</a></li>
                      </ul>
                </div>

                <div class="row mb-4">
                </div>

          </nav>

    </div>

    <div class="container-fluid splash-page splash-page-color">
          <div class="row mb-5">
          </div>

          <div class="row mb-5">
          </div>

          <div class="row mb-5">
          </div>

          <div class="row">
            <div class="col-5 offset-1 col-left">
              <h1>FBA Sellers Rejoice!</h1>
            </div>

          </div>

          <div class="row mt-2">
            <div class="col-5 offset-1 col-left">
              <h5 class ="Top-Fold">Dig deeper into your product research and see how your customers truly feel about your amazon products.<h5>
            </div>


          </div>

          <div class="row mt-3">
            <div class="col-5 offset-1">
              <div class="form-inline offset">
                <form action="/reviews/" method="POST">
                  <input name="asin" placeholder="Enter Amazon Link" type="text" class="form-control" aria-describedby="amazon link">
                  <button type="Try it out now" class="btn btn-primary btn-md ml-4">Generate Report</button>
              </form>
              </div>
            </div>

          </div>


    </div>

    <div class="container-fluid pattern-1 splash-page">


      <div class="row">
          <div class="col-4 offset-4 Top-Fold text-center">
            <h3>What is Feel.io<h3>
          </div>

      </div>

      <div class="row mt-3">
          <div class="col-4 offset-4 Top-Fold text-center">
            <p>Feel.io is web-based platform that simplifies and streamlines the product research process for FBA sellers.<br><br>

              Leveraging Amazon Komprehend, we pull  insights behind what users say & and uncover how they feel about a product transforming hours of product research into a single click.
            <p>
          </div>

      </div>


    </div>

    <div class ="container-fluid pattern-2 splash-page">

      <div class="row mb-5">
      </div>

      <div class="row">
          <div class="col-4 offset-4 Top-Fold text-center">
            <h3>Market Oppurtunity<h3>
          </div>
      </div>

      <div class="row mb-5">
      </div>

      <div class="row">
        <div class="col-3 offset-3 text-center">
          <h1 class="display-1  bolded text-center">50%</h1>
          <p> Indepedent Third Party Sellers utilizing a Fufillment By Amazon (FBA) comprise  up 50% of Amazon’s Marketplace.</p>
        </div>

        <div class="col-3 text-center">
          <h1 class="display-1 bolded text-center">70k</h1>
          <p> Over  70,000 entrepreneurs with sales of more than $100,000 a year sell and fulfill their products on the Amazon Marketplace</p>
        </div>

      </div>

    </div>

    <div class ="container-fluid pattern-1-alt splash-page text-center">

        <div class="row">
            <div class="col-4 offset-4 Top-Fold text-center">
              <h3>What does the FBA User Journey Look like<h3>
            </div>
        </div>

        <div class="row mb-5">
        </div>

        <img src="../assets/user-journey.png" class="img-fluid" alt="Responsive image">
    </div>


    <div class ="container-fluid pattern-2 splash-page text-center">

      <div class="row">
          <div class="col-4 offset-4 Top-Fold text-center">
            <h3>Feel.io Benefits<h3>
          </div>
      </div>

      <div class="row mb-5">
      </div>

      <div class="row">

        <div class="col-4">
          <h5>Reduced Time Reading Reviews</h5>
          <p class="paragraph-pad"> Web app scrapes and analyzes sentiments amongst product reviews highlighting key product painpoints and helps generate a more holistic view on product reception and acceptance.</p>
        </div>

        <div class="col-4">
          <h5>Enhance Customer Support</h5>
          <p class="paragraph-pad"> When you’re public-facing and rely on positive reviews, it’s important to be tuned-in to what people say and expect of your brand</p>
        </div>

        <div class="col-4">
          <h5>Advises Brand Messaging</h5>
          <p class="paragraph-pad"> Sentiment analysis is also helpful when monitoring keywords. In addition to seeing what the general public has to say, you can find key market areas where your competitors are lacking</p>
        </div>


      </div>


    </div>

  </body>
</html>






    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
