<h1>
This is the show page for <%= product.asin %> </h1>
<% var numComments = product.comments.length; %>

    <% product.comments.forEach((comment) => { %>
    <ul>
        <li> Comment: <%= comment.text %></li>
        <li> Positive score: <%= comment.sentiments.positive %></li>
        <li> Negative score: <%= comment.sentiments.negative %></li>
        <li> Neutral score: <%= comment.sentiments.neutral %></li>
        <li> Mixed score: <%= comment.sentiments.mixed %></li>
    </ul>
    <% }); %>
<p> Average Positive Score: <%= product.averageScore[0] %></p>
<p> Average Negative Score: <%= product.averageScore[1] %></p>
<p> Average Neutral Score: <%= product.averageScore[2] %></p>
<p> Average Mixed Score: <%= product.averageScore[3] %></p>

